


p{ font-family: Arial; letter-spacing: -2px;}
p span { letter-spacing: 2px; margin: 0 5px; }







#words{
  font-family: 'Lato', sans-serif;
     font-weight: 400;
 position:absolute;
 width: 100%;
  background-color: transparent;
  top:20%;
  left:44%;
  z-index:999;
  color: white;
transform: rotate(90deg);

  text-align: center;
  font-size: 10px;
  opacity: 1;
  border:none;
}
.btn1
{
  position:absolute;
  background-color: transparent;
  top:70%;
  left:15%;
  z-index:999;
  padding: 32px 32px;
  color: white;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  transition: 2s;
  border:none;

}

.btn1:hover {opacity: 1}

.btn2
{
  position:absolute;
  background-color: transparent;
  top:40%;
  left:70%;
  z-index:999;
  padding: 32px 32px;
  color: white;
  text-align: center;
  font-size: 20px;
  opacity: 1;
  transition: 2s  ;
  border:none;
  opacity:0;
}

.btn2:hover {opacity: 1}

.btn3
{
  position:absolute;
  background-color: transparent;
  top:75%;
  left:50%;
  z-index:999;
  padding: 32px 32px;
  color: white;
  text-align: center;
  font-size: 20px;

  transition: 2s;
  border:none;
  opacity:0;
}

.btn3:hover {opacity: 1}

.btn4
{
  position:absolute;
  background-color: transparent;
  top:30%;
  left:10%;
  z-index:999;
  padding: 32px 32px;
  color: white;
  text-align: center;
  font-size: 20px;
  transition: 2s;
  border:none;
  opacity:0;
}

.btn4:hover {opacity: 1}

.btn5
{
  position:absolute;
  background-color: transparent;
  top:10%;
  left:60%;
  z-index:999;
  padding: 32px 32px;
  color: white;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  transition: 2s;
  border:none;
}

.btn5:hover {opacity: 1}

.btn6
{
  position:absolute;
  background-color: transparent;
  top:30%;
  left:67%;
  z-index:999;
  padding: 32px 32px;
  color: white;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  transition: 2s;
  border:none;
}

.btn6:hover {opacity: 1}

.btn7
{
  position:absolute;
  background-color: transparent;
  top:10%;
  left:60%;
  z-index:999;
  padding: 32px 32px;
  color: white;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  transition: 2s;
  border:none;
}

.btn7:hover {opacity: 1}



@keyframes blur {
  from{  filter: blur(30px);}
to {  filter: blur(0px);}
}




svg{ width:180px;

}




#seedtagLogo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
animation: filler 4s forwards, blur 4.7s ease ;


}

#seedtagLogo path:nth-child(14){
  animation:line-animation 2s ease forwards 0.6s ;

  stroke-dasharray:458.88;
  stroke-dashoffset:458.88;
}

#seedtagLogo path:nth-child(15){
  stroke-dasharray:87.5;
  stroke-dashoffset:87.5;
  animation:line-animation 2s ease forwards 0.9s ;

}

#seedtagLogo path:nth-child(16){
  stroke-dasharray:327.80px;
  stroke-dashoffset:327.80px;
  animation:line-animation 2s ease forwards 1.8s  ;

}


@keyframes filler {
  to { fill:white; }


}

@keyframes line-animation {
  to { stroke-dashoffset:0; }
}



@keyframes filler {
  to { fill:white!important; }


}

@keyframes line-animation {
  to { stroke-dashoffset:0; }
}

.large-header {
	position: absolute;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

#large-header {
	background-color:#3d4495
}

#words2
{
  font-family: 'Lato', sans-serif;
     font-weight: 400;
 position:absolute;
 width: 100%;
  background-color: transparent;
  top:80%;
  left:44%;
  z-index:999;
  color: white;
transform: rotate(90deg);

  text-align: center;
  font-size: 10px;
  opacity: 1;
  border:none;}
